---
# nothing here
---

html
{
  -webkit-font-smoothing: antialiased;
}

body
{
  font: 14px/24px 'Open Sans', sans-serif;
}

#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #fff;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #fff;
	font-family: 'Droid Sans', sans-serif;
	font-size: 15px;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #666666;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a.active { color: #2FB787; font-weight: bold; }

#navigation li a:hover { color: #2FB787; text-decoration: underline; }

#content
{
	clear: left;
	padding: 10px;
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background: #f;
	text-align: right;
	padding: 20px;
	height: 1%;
}

.logo-title-a {
  text-decoration: none;
}
.logo-title {
  font-size: 20px;
}
.logo-title span {
  color:#2FB787;
  font-size:27px;
}
