---
# nothing here
---

.centerImage {
    display: block;
    margin: 10px auto;
}

.well.nonPadded {
    padding: 0;
}

.well.noMargin {
    margin-bottom: 0;
}

.pubTitle {
    font-weight: bold;
}

.pubVenue {
    font-style: italic;
}

.mzn-arg {
  font-family: monospace;
  font-weight: bold;
  font-size: 110%;
}
.mzn-parm {
  font-style: italic;
}

.mzn-group-level-0 .mzn-group-name {
  font-size: 150%; font-weight: bold;  
}
.mzn-group-level-1 .mzn-group-name {
  font-size: 120%; font-weight: bold;  
}

.mzn-decl-type-heading {
  display: none;
/*  font-size: 150%; font-weight: bold;*/
}

.mzn-fundecl, .mzn-vardecl {
  width: 75%;
  margin-bottom: 10px;
  margin-left: 5%;
  border: 1px solid #C0C0C0;
}

.mzn-fundecl-code, .mzn-vardecl-code {
  font-family: monospace;
/*  font-weight: bold;*/
  font-size: 110%;
  white-space: pre;
  margin-bottom: 2px;
  background-color: #EAEAEA;
  border-bottom: 1px solid #C0C0C0;
  padding: 3px;
}

.mzn-fundecl-more {
  float: right;
  text-decoration: none;
  color: black;
}

.mzn-fundecl-more-code {
  display: none;
}

.mzn-fundecl-equals {
  display: none;
}

.mzn-fundecl-reveal-equals {
  display: inline;
}

.mzn-fundecl-code .mzn-fundecl-reveal-code {
  font-size: 10pt;
}

.mzn-fundecl-body {
  padding-left: 1em;
  font-size: 110%;
}

.mzn-fundecl-reveal-code {
 /* font-family: sans-serif;
     font-size: 11pt;
    */
  display: block;
  margin-top: 5px;
}

.mzn-fundecl-doc, .mzn-vardecl-doc {
  padding-left: 3px;
}

.mzn-id {
  font-weight: bold;
}

.mzn-fn-id {
	font-style: italic;
	color: blue;
}

a.mzn-nav-up, a.mzn-nav-next, a.mzn-nav-prev {
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #555;
	font-weight: bold;
}


.myBanner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	opacity: .8;
	background-image:url('../banner.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.teamMemberImage, .teamMemberName {
  margin-top: 10px;
}

.teamMemberDesc {
  margin-top: 5px;
  font-style: italic;
//  font-size: smaller;
}

.teamMemberName h4 {
  display: inline;
  margin-right: 5px;
}