---
layout: minizinc
title: MiniZinc - Publications
---

{% assign mainpubs = site.publications | where:"category","main" | sort: 'year' %}
{% assign languagepubs = site.publications | where:"category","language" | sort: 'year' | reverse %}
{% assign otherpubs = site.publications | where:"category","other" | sort: 'year' | reverse %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Publications
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Citing MiniZinc</h2>
            <p>If you use MiniZinc in your own research or would like to acknowlegde it in a publication, please use
                the following references.</p>
            {% include pub.html pubs=mainpubs %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Papers defining the MiniZinc or Zinc languages and extensions</h2>
            {% include pub.html pubs=languagepubs %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Papers using MiniZinc or Zinc</h2>
            {% include pub.html pubs=otherpubs %}
        </div>
    </div>
        
  