---
layout: minizinc
title: MiniZinc - Team
---

{% assign ideversion = site.data.version["ideversion"] %}
{% assign mznversion = site.data.version["mznversion"] %}


{% assign publications = site.publications | sort: "year" %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                The MiniZinc Team
            </h1>
        </div>
    </div>

    {% for i in (1..3) %}

        <div class="row">
            <div class="col-lg-12">
                <h3>
                {% case i %}
                {% when 1 %}
                    Team leaders
                {% when 2 %}
                    Current members
                {% else %}
                    Former members
                {% endcase %}
                </h3>
            </div>
        </div>

        {% assign open = false %}
        {% for person in site.people %}
        
            {% case i %}
            {% when 1 %}
                {% unless person.lead %}
                    {% continue %}
                {% endunless %}
            {% when 2 %}
                {% if person.lead or person.former %}
                    {% continue %}
                {% endif %}
            {% else %}
                {% unless person.former %}
                    {% continue %}
                {% endunless %}
            {% endcase %}

            {% capture currentN %}{% increment n %}{% endcapture %}

            {% capture modulo %}{{ currentN | modulo:2 }}{% endcapture %}
            {% if modulo == '0' %}
                <div class="row">
                {% assign open = true %}
            {% endif %}

                <div class="col-md-2">
                <div class="well nonPadded teamMemberImage">
                        <img class="img-circle centerImage" height="120" src="{{ site.baseurl }}/images/{{ person.img }}" alt="{{ person.name }}">
                </div>
                </div>
                <div class="col-md-4">
                    <div class="teamMemberName"><h4>{{ person.name }}</h4>
                        {% if person.email %}
                        <a href="mailto:{{ person.email }}"><i class="fa fa-envelope"></i></a>
                        {% endif %}
                        {% assign havePub = false %}
                        {% for p in publications %}
                          {% if p.authors contains person.name or p.authors_long contains person.name %}
                            {% assign havePub = true %}
                            {% break %}
                          {% endif %}
                        {% endfor %}
                        {% if havePub %}
                          <a href="{{ person.url }}" title="publications"><i class="fa fa-book"></i></a>
                        {% endif %}
                    </div>
                    <div class="teamMemberAffiliation">{{ person.affiliation }}</div>
                    <div class="teamMemberDesc">{{ person.content }}</div>
                </div>
            {% if modulo == '1' %}
                </div>
                {% assign open = false %}
            {% endif %}

        {% endfor %}
        
        {% if open %}
            </div>
            {% capture forget %}{% increment n %}{% endcapture %}
        {% endif %}

    {% endfor %}

</div>
