    <!-- Footer -->
    <!-- Page Content -->
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MiniZinc Team, 2014 — {{ 'now' | date: "%Y" }}</p>
                </div>
            </div>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>

    {% if page.title == "MiniZinc" %}

    {% assign ideversion = site.data.version["ideversion"] %}
    {% assign idedate = site.data.version["idedate"] %}

    <script>
    $(document).ready(function(){
        if (navigator.appVersion.toUpperCase().indexOf("WIN")!=-1) {
            $(".osLinux").addClass("hidden");
            $(".osMac").addClass("hidden");
        } else if (navigator.appVersion.toUpperCase().indexOf("LIKE MAC")==-1 && navigator.appVersion.toUpperCase().indexOf("MAC")!=-1) {
            $(".osWin").addClass("hidden");
            $(".osLinux").addClass("hidden");
        } else if (navigator.appVersion.toUpperCase().indexOf("LINUX")!=-1) {
            $(".osMac").addClass("hidden");
            $(".osWin").addClass("hidden");
        }
    });
    </script>
    {% endif %}
