{% assign homeactive='' %}
{% assign softwareactive = '' %}
{% assign resourcesactive = '' %}
{% assign challengeactive = '' %}

{% case page.title %}
  {% when "MiniZinc" %}
    {% assign homeactive='class="active"' %}
  {% when "MiniZinc - Software" %}
    {% assign softwareactive='class="active"' %}
  {% when "MiniZinc - Resources" %}
    {% assign resourcesactive='class="active"' %}
  {% when "MiniZinc - Challenge" %}
    {% assign challengeactive='class="active"' %}
  {% when "MiniZinc - Forum" %}
    {% assign forumactive='class="active"' %}
  {% when "MiniZinc - Team" %}
    {% assign teamactive='class="active"' %}
{% endcase %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% unless page.title == "MiniZinc" %}
                    <img class="navbar-brand" src="{{ site.baseurl }}/MiniZn_logo.png" alt="MiniZinc logo">
                {% endunless %}
                <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
                    MiniZinc
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li {{ softwareactive }}><a href="{{ site.baseurl }}/software.html">Software</a></li>
                    <li {{ resourcesactive }}><a href="{{ site.baseurl }}/resources.html">Resources</a></li>
                    <li {{ challengeactive }}><a href="{{ site.baseurl }}/team.html">Team</a></li>
                    <li {{ challengeactive }}><a href="{{ site.baseurl }}/challenge.html">Challenge</a></li>
                    <li {{ forumactive }}><a href="{{ site.baseurl }}/forum.html">Discussions</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
