<div class="list-group">
    {% for p in include.pubs %}
    <li class="list-group-item">
        <span class="pubAuthors">{{ p.authors }}.</span>
        <span class="pubTitle">{{ p.title }}.</span>
        <span class="pubVenue">{{ p.venue }},</span>
        <span class="pubYear">{{ p.year }}.</span>
        {% assign strippedContent = p.content | strip | strip_newlines %}
        {% if strippedContent != "" %}
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ p.category }}{{ forloop.index }}">more...</a>
            <div id="collapse{{ p.category }}{{ forloop.index }}" class="collapse">
                <div class="well well-sm noMargin">
                    {{ p.content }}
                </div>
            </div>
        {% endif %}
        {% if p.pdflink %}
        <br /><a href="{{ p.pdflink }}">PDF</a>
        {% endif %}
    </li>
    {% endfor %}
</div>
