h1, h3, h5 {text-align: center}
h1 {font-size: 36px; color: #c60000}
h2 {font-size: 24px; color: #000061}
h3 {font-size: 18px}
h4 {font-size: 18px; color: #c60000}
p {text-align: justify}
.sentence {text-align: center; color: #800080; padding-bottom: 35px}
.name {color: #008080}
.address {font-style: italic}
.time {color: #008080}
.emp {font-weight: bold}
.paper {}
.author {font-style: italic}

table, td, th
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}
