<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script>
    $(document).ready(function(){
        $(".mzn-group-name").wrap("<h2 id='mymznheader'></h2>");
        $(".mzn-group-name a").contents().unwrap();
        $(".mzn-group-nav").wrap("<ol id='mymznnav' class='breadcrumb'><li></li></ol>");

        $(".mzn-nav-prev").contents().replaceWith("<i class='fa fa-arrow-circle-left'></i>");
        $(".mzn-nav-up").contents().replaceWith("<i class='fa fa-arrow-circle-up'></i>");
        $(".mzn-nav-next").contents().replaceWith("<i class='fa fa-arrow-circle-right'></i>");

        var nav = $('#mymznnav');
        var header = $('#mymznheader');

        navClone = nav.clone();
        headerClone = header.clone();

        if (nav.length > 0) {
            header.replaceWith(navClone);
            nav.replaceWith(headerClone);
        }
    });
    </script>

  </body>

</html>
