<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% assign publications = site.publications | sort: "year" | reverse %}

    {% include header.html %}

<div class="container">

    <div class="row">

        <div class="col-md-2">
        <div class="well nonPadded teamMemberImage">
                <img class="img-circle centerImage" height="120" src="{{ site.baseurl }}/images/{{ page.img }}" alt="{{ page.name }}">
        </div>
        </div>
        <div class="col-md-6">
            <h4 class="teamMemberName">{{ page.name }}</h4>
            <div class="teamMemberAffiliation">{{ page.affiliation }}</div>
            {% if page.email %}
            <div class="teamMemberEmail">    <a href="mailto:{{ page.email }}">{{ page.email }}</a></div>
            {% endif %}
            <div class="teamMemberDesc">{{ content }}</div>
        </div>

    </div>

    {% assign havePub = false %}
    {% for p in publications %}
      {% if p.authors contains page.name or p.authors_long contains page.name %}
        {% assign havePub = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if havePub %}
    <div class="row">
        <div class="col-lg-12">
            <h4>Publications on MiniZinc by {{ page.name }}</h4>
            <div class="list-group teamMemberPub">
                {% for p in publications %}
                  {% if p.authors contains page.name or p.authors_long contains page.name %}
                        <li class="list-group-item">
                            <span class="pubAuthors">{{ p.authors }}.</span>
                            <span class="pubTitle">{{ p.title }}.</span>
                            <span class="pubVenue">{{ p.venue }},</span>
                            <span class="pubYear">{{ p.year }}.</span>
                            {% assign strippedContent = p.content | strip | strip_newlines %}
                            {% if strippedContent != "" %}
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMain{{ forloop.index }}">more...</a>
                                <div id="collapseMain{{ forloop.index }}" class="collapse">
                                    <div class="well well-sm noMargin">
                                        {{ p.content }}
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    
    
</div>

    {% include footer.html %}

  </body>

</html>
